@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

.navbar {
    text-align: center;
    padding: .5em 0;
    z-index: 1000;
    position:sticky;
    background-color:transparent;
    width:100%;
    padding: 8px 0px;
    background-color: transparent
  }
  
  .nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  .nav-item {
    margin: 0 35px;
    text-decoration: none;
    color: #65abb7e3; /* Adjust the color to fit your background image */
    font-family: 'EB Garamond', serif; /* Replace with your chosen font */
    font-size: 1.6em;
    transition: color 0.3s ease;
    cursor: pointer; 
  }
  

  
  .nav-item:hover {
    color: #d0c0b2; /* A highlight color when hovering */
  }

  @media (max-width: 600px) {
    .navbar {
      font-size: 12px;
      padding: 15px 0px;
      background-color: rgba(51, 56, 59, 0.655)
    }

    .nav-item {
      font-size: 13px;
      margin: 0 6px;
      color: #73b9c5e3;
    }

  }